/* styles for the CheckIn and Games pages */ 
.container {
    justify-self: center;
    text-align: center;
    width: 600px;
    border: 5px double #343cce; 
    background-color: #d7d8f5;
    margin: 20px 0 ;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

label {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: large;
}

input {
    width: 250px;
    padding: 5px;
    margin: 10px 0 20px 0;
}

button[type="submit"] {
    color: white;
    background-color: #343cce;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: large;
    padding: 10px 20px;
    margin: 20px;
}